
#accent {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
}

#accent:hover {
    background-color: orange;
}

.search {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20vh;
    font-weight: 600;
}

body {
    min-height: 20vh;
    min-width: 20vw;
}